:root {
    --primary-color: #67C9CB;
    --secondary-color: rgba(36, 54, 94, 0.4);
    --btn-bg: var(--primary-color);
    --descr-txt: rgba(36, 54, 94, .33);

    --light-green: #EDFCFC;
    --light-violet: #EDEEFC;
    --light-pink: #FEFAF8;
    --light-orange: #FDFAF1;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}


body {
    font-family: Outfit, sans-serif;
    font-size: 15px;
    background-color: #fff;
    color: #000;
}

.overflow-hidden {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
}

/* Header */
header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    margin-bottom: 112px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 128px;

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 56px;
        list-style: none;

        .nav-link {
            text-decoration: none;
            color: inherit;
            font-weight: 500;
            transition: color .3s;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 120px;
    background: radial-gradient(circle at bottom right,
            rgba(210, 245, 255, 0.1) 10%,
            rgba(255, 255, 255, 1) 50%)
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 848px;
    text-align: center;
    text-wrap: balance;

    h1 {
        font-size: clamp(1.5rem, 5vw, 4.5rem);
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.125rem;
    }
}

.hero-description {
    font-family: DM-Sans, sans-serif;
    font-weight: 500;
    line-height: 24px;
    font-size: inherit;
    color: var(--descr-txt);
    line-height: 1.8;

    span {
        font-weight: 700;
        font-size: 17px;
        color: rgba(67, 151, 152, 1);
        background-color: rgba(103, 201, 203, .3);
        padding: 10px 0;
    }
}

/* Features */
.features {
    margin-bottom: 158px;
}

.features-wrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.features-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 55px;
    padding: 72px 104px;
}

@media (max-width: 1024px) {
    .features-block {
        padding: 72px;
    }
}

@media (max-width: 768px) {
    .features-block {
        padding: 20px;
        gap: 20px;
    }
}

@media (320px <=width <=767px) {
    .features-block {
        padding: 56px 20px;
        flex-direction: column;
    }
}


.features-block:nth-child(1) {
    background-color: var(--light-green);
}

.features-block:nth-child(2) {
    background-color: var(--light-violet);
}

.features-block:nth-child(3) {
    background-color: var(--light-pink);
}

.features-block:nth-child(4) {
    background-color: var(--light-orange);
}

.features-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 389px;
}

@media (480px <=width <=768px) {
    .features-text {
        max-width: 100%;
        order: 1;
    }
}

@media (480px <=width <=768px) {
    .features-label {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 16px;
    }
}

.features-label img {
    margin-bottom: 32px;
}

@media (480px <=width <=768px) {
    .features-label img {
        margin-bottom: 10px;
    }
}


.feat-1 {
    color: #B6D3D3;
}

.feat-2 {
    color: #A6A5E1;
}

.feat-3 {
    color: #D7B7B7;
}

.feat-4 {
    color: #D0C9B2;
}

.features-descr {
    font-family: DM-Sans, sans-serif;
    font-size: inherit;
    font-weight: 500;
    color: var(--descr-txt);
    line-height: 24px;
}

.features-link {
    display: flex;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
}

.features-link_red {
    color: #DF4D55;
}

.features-link_yellow {
    color: #F7CE47;
}

.features-link svg {
    position: relative;
    left: 0;
    transition: left ease-in-out .3s;
}

.features-link:hover svg {
    left: 10px;
}

.features-download {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.features-list {
    margin: 0;
    padding: 0;
}

.features-list-label {
    font-family: DM-Sans, sans-serif;
    color: #000;
    font-weight: 500;
    font-size: inherit;
}

.features-item {
    font-family: DM-Sans, sans-serif;
    position: relative;
    font-weight: 700;
    color: rgba(36, 54, 94, .88);
    list-style: none;
    padding-left: 30px;
    margin-bottom: 8px;
}

.features-item:last-child {
    margin-bottom: 0;
}

.features-item::before {
    position: absolute;
    content: url('/assets/icons/check-icon.svg');
    left: 0;
}

/* Why choose Us */
.whyus {
    background: radial-gradient(circle at bottom right,
            rgba(255, 237, 210, 0.1) 10%,
            rgba(210, 255, 230, 0.1) 40%,
            rgba(255, 255, 255, 1) 80%);
}

.whyus-title {
    text-align: center;
    margin-bottom: 112px;
}

.whyus-title-color {
    color: #ACCCCC;
}

.whyus-cards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 112px;
    padding-bottom: 130px;
}

@media (max-width: 1024px) {
    .whyus-cards-list {
        gap: 40px;
        flex-wrap: wrap;
    }

}

@media (480px <=width <=768px) {
    .whyus-cards-list {
        flex-direction: column;
    }
}

.whyus-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

@media (max-width: 1024px) {
    .whyus-card {
        align-items: center;
        text-align: center;
    }

}

.card-description {
    color: #2F2C2C;
}

/* How it Works! */
.howitworks {
    background-color: #f7f9fc;
    padding: 120px 0px;
}

.howitworks-title {
    text-align: center;
    margin-bottom: 80px;
}

.howitworks-title-color {
    color: var(--primary-color);
}

.howitworks-cards-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

@media (320px <=width <=768px) {
    .howitworks-cards-list {
        flex-direction: column;
    }
}

.howitworks-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 40px;
    background-color: #fff;
    padding: 64px;
    border-radius: 21px;
}

.howitworks-card-img {
    width: 216px;
    height: 216px;
    object-fit: contain;
}

.howitworks-card:nth-child(1):before {
    content: '1';
    position: absolute;
    z-index: 1;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: .02em;
    font-weight: 600;
    top: 0;
    left: 30px;
    color: var(--primary-color);
}

.howitworks-card:nth-child(2):before {
    content: '2';
    position: absolute;
    z-index: 1;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: .02em;
    font-weight: 600;
    top: 0;
    left: 30px;
    color: var(--primary-color);
}

.howitworks-card:nth-child(3):before {
    content: '3';
    position: absolute;
    z-index: 1;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: .02em;
    font-weight: 600;
    top: 0;
    left: 30px;
    color: var(--primary-color);
}

.howitworks-card::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 48px;
    background-color: #D7EFEF;
    border-radius: 21% 25% 21% 0% / 25% 0% 25% 0%;
}

.howitworks-card h3 {
    color: #24365E;
}

/* Pricing */

.pricing-title-color {
    color: var(--primary-color);
}

.pricing-title {
    margin: 120px 0px 64px 0px;
    text-align: center;
}

.pricing-plans {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
    margin-bottom: 186px;
}

.pricing-card {
    border-radius: 27px;
    padding: 64px 27px;
    transition: transform 0.5s ease;
}

.pricing-card hr {
    width: 296px;
    border-top: 1px solid #C1DADA;
    margin-bottom: 35px;
}

.pricing-card:nth-child(1) {
    background-color: var(--light-green);
}

.pricing-card:nth-child(1):hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 0px 40px -8px var(--primary-color);
}

.pricing-card:nth-child(2) {
    background-color: var(--light-violet);
}

.pricing-card:nth-child(2):hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 0px 40px -8px #24365E;
}

.pricing-card:nth-child(3) {
    background-color: var(--light-orange);
}

.pricing-card:nth-child(3):hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 0px 40px -8px #F7CE47;
}

.pricing-card-head {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 35px;
}

.pricing-card-label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.17em;
}

.pricing-card-label--first,
.pricing-card-plan--first {
    color: var(--primary-color);
}

.pricing-card-label--second,
.pricing-card-plan--second {
    color: #24365E;
}

.pricing-card-label--third {
    color: #D7C4B7;
}

.pricing-card-plan {
    font-size: 46px;
    font-weight: 700;
}

.pricing-card-plan--third {
    color: #F7CE47;
}

.pricing-card-plan--min {
    font-size: 16px;
    font-weight: 400;
}

.pricing-card-head .btn--first {
    padding: 20px 31.5px;
}

.pricing-card-head .btn--second {
    --btn-bg: #24365E;
    padding: 20px 29.5px;
}

.pricing-card-head .btn--second:hover {
    color: #24365E;
}

.pricing-card-head .btn--third {
    --btn-bg: #F7CE47;
    padding: 20px 49px;
}

.pricing-card-head .btn--third:hover {
    color: #F7CE47;
}

.term {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #24365E;
    font-size: 17px;
    line-height: 16px;
    font-weight: 600;
}

.pricing-card-body-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    font-family: DM-Sans, sans-serif;
}

.pricing-card-body-list {
    padding: 0;
}

.pricing-card-body-item {
    font-family: DM-Sans, sans-serif;
    position: relative;
    font-weight: 700;
    color: rgba(36, 54, 94, .88);
    list-style: none;
    padding-left: 30px;
    margin-bottom: 24px;
}

.pricing-card-body-item:last-child {
    margin-bottom: 0;
}

.pricing-card-body-item::before {
    position: absolute;
    content: url('/assets/icons/check-icon.svg');
    left: 0;
}

/* Testimonials */
.testimonials-title {
    text-align: center;
    margin-bottom: 68px;
}

.testimonials-title-color {
    color: var(--primary-color);
}

.slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 27px 46px;
}

.quote {
    color: #24365E;
}

@media (320px <=width <=768px) {
    .slider-content {
        gap: 20px;
    }

    .quote {
        font-size: 20px;
    }
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.signature-author {
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #24365E;
}

.signature-position {
    color: rgba(0, 0, 0, .4);
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}

/* Footer */

footer {
    background-color: #24365E;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 56px 0px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 104px;
}

@media (max-width: 1024px) {
    .footer-menu {
        gap: 55px;
    }
}

@media (320px <= width <= 425px) {
    .footer-menu {
        text-align: center;
    }

    .features-download {
        justify-content: center;
    }
}

.footer-column {
    flex: 1;
    min-width: 150px;
}

.footer-column h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-column ul {
    list-style: none;
    padding: 0;

    li {
        margin-bottom: 16px;

        a {
            text-decoration: none;
            font-size: 14px;
            color: rgba(255, 255, 255, .5);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer-privacy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (320px <= width <= 480px) {
    .footer-privacy {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.privacy-link {
    color: rgba(255, 255, 255, .3);
    font-size: 14px;
    line-height: 24px;
}

.privacy .privacy-link:nth-child(1) {
    margin-right: 16px;
}

/* Slider */
.slider-container {
    width: 100%;
    padding: 40px 0;
}

@media (320px <=width <=768px) {
    .slider-container {
        padding: 40px 20px;
    }
}

.swiper {
    overflow: hidden;
}

.swiper-pagination-bullet {
    background-color: #948e8e;
    opacity: 1;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #24365E;
}

.swiper-slide {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: #EDEEFC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 403px;
    width: 723px;
    border-radius: 32px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.swiper-slide-active {
    transform: scale(1.2);
    opacity: 1;
}

.swiper-slide-prev,
.swiper-slide-next {
    opacity: 0.7;
}

/* Utils Classes */
.btn {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    background-color: var(--btn-bg);
    color: #fff;
    border-radius: 64px;
    padding: 16px 51px;
    border: 1px solid var(--btn-bg);
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: transparent;
        color: var(--primary-color);
        border: 1px solid var(--btn-bg);
        cursor: pointer;
    }

    &.btn-opacity {
        color: var(--primary-color);
        --btn-bg: transparent;
        border: 1px solid var(--primary-color);

        &:hover {
            color: #fff;
            background-color: var(--primary-color);
        }
    }
}

.container {
    max-width: 1186px;
    padding: 0px 15px;
    margin: 0 auto;
}

.section-title {
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    font-weight: 600;
    color: #000;
    line-height: 48px;
    letter-spacing: .02em;
}

.card-title {
    font-size: clamp(1rem, 3vw, 1.4rem);
    font-weight: 600;
    color: #000;
    line-height: 24px;
}

.top-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.07em;
}

/* BurgerMenuBtn */
.mobile-btn {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;

    &:hover {
        cursor: pointer;
    }

    & span {
        height: 5px;
        width: 100%;
        --secondary-color: rgba(36, 54, 94, 1);
        background-color: var(--secondary-color);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;

        &:nth-child(1) {
            top: 25%;
        }

        &:nth-child(3) {
            top: 75%;
        }
    }
}

@media (max-width: 768px) {
    .mobile-btn {
        display: block;
    }
}


/* BurgerMemu */

.mobile-nav-menu {
    position: fixed;
    top: 0;
    right: -75vw;
    background-color: var(--light-green);
    height: 100vh;
    width: 100%;
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease;

    &.active {
        right: 0;
    }

    & .mobile-nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.4em;
        text-transform: uppercase;

        & .mobile-nav-item {
            margin-bottom: 55px;
            box-shadow: 0px 4px 0px -3px #8bdedf;

            &:last-child {
                margin-bottom: 0;
            }

            & .mobile-nav-link {
                --secondary-color: rgba(36, 54, 94, 1);
                color: var(--secondary-color);
                text-decoration: none;
                font-weight: 500;
            }
        }
    }
}

.mobile-btn.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.mobile-btn.active span:nth-child(2) {
    opacity: 0;
}

.mobile-btn.active span:nth-child(3) {
    top: 42%;
    transform: translate(-50%, 50%) rotate(-45deg);
}