:root {
    --primary-color: #67C9CB;
    --secondary-color: rgba(36, 54, 94, 0.4);
    --btn-bg: var(--primary-color);
    --descr-txt: rgba(36, 54, 94, .33);
}

body {
    font-family: Outfit, sans-serif;
    font-size: 15px;
    background-color: #fff;
    color: #000;
}

/* Header */
.top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 112px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 128px;

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 56px;
        list-style: none;

        .nav-link {
            text-decoration: none;
            color: inherit;
            font-weight: 500;
            transition: color .3s;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 120px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 848px;
    text-align: center;
    text-wrap: balance;

    h1 {
        font-size: 68px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -2px;
    }
}

.hero-description {
    font-family: DM-Sans, sans-serif;
    font-weight: 500;
    line-height: 24px;
    font-size: inherit;
    color: var(--descr-txt);
    line-height: 1.8;

    span {
        font-weight: 700;
        font-size: 17px;
        color: rgba(67, 151, 152, 1);
        background-color: rgba(103, 201, 203, .3);
        padding: 10px 0;
    }
}

/* Features */
.features {
    margin-bottom: 158px;
}
.features-wrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.features-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 55px;
    padding: 72px 104px;
}

.features-block:nth-child(1) {
    background-color: #EDFCFC;
}

.features-block:nth-child(2) {
    background-color: #EDEEFC;
}

.features-block:nth-child(3) {
    background-color: #FEFAF8;
}

.features-block:nth-child(4) {
    background-color: #FDFAF1;
}

.features-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 389px;
}

.features-label img {
    margin-bottom: 32px;
}

.feat-1 {
    color: #B6D3D3;
}

.feat-2 {
    color: #A6A5E1;
}

.feat-3 {
    color: #D7B7B7;
}

.feat-4 {
    color: #D0C9B2;
}

.features-descr {
    font-family: DM-Sans, sans-serif;
    font-size: inherit;
    font-weight: 500;
    color: var(--descr-txt);
    line-height: 24px;
}

.features-link {
    display: flex;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
}

.features-link_red {
    color: #DF4D55;
}

.features-link_yellow {
    color: #F7CE47;
}

.features-link svg {
    position: relative;
    left: 0;
    transition: left ease-in-out .3s;
}

.features-link:hover svg {
    left: 10px;
}

.features-download {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.features-list {
    margin: 0;
    padding: 0;
}

.features-list-label {
    font-family: DM-Sans, sans-serif;
    color: #000;
    font-weight: 500;
    font-size: inherit;
}

.features-item {
    font-family: DM-Sans, sans-serif;
    position: relative;
    font-weight: 700;
    color: rgba(36, 54, 94, .88);
    list-style: none;
    padding-left: 30px;
    margin-bottom: 8px;
}

.features-item:last-child {
    margin-bottom: 0;
}

.features-item::before {
    position: absolute;
    content: url('/assets/icons/check-icon.svg');
    left: 0;
}

/* Why choose Us */
.whyus-title {
    text-align: center;
    margin-bottom: 112px;
}

.top-title-color {
    color: #ACCCCC;
}

.whyus-cards-list {
    display: flex;
    flex-direction: row;
    gap: 112px;
    margin-bottom: 136px;
}

.whyus-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.card-description {
    color: #2F2C2C;
}
/* Utils Classes */
.btn {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    background-color: var(--btn-bg);
    color: #fff;
    border-radius: 64px;
    padding: 16px 51px;
    border: 1px solid var(--btn-bg);
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: transparent;
        color: var(--primary-color);
        border: 1px solid var(--btn-bg);
        cursor: pointer;
    }

    &.btn-opacity {
        color: var(--primary-color);
        --btn-bg: transparent;
        border: 1px solid var(--primary-color);

        &:hover {
            color: #fff;
            background-color: var(--primary-color);
        }
    }
}

.container {
    max-width: 1216px;
    margin: 0 auto;
}

.section-title {
    font-size: 40px;
    font-weight: 600;
    color: #000;
    line-height: 48px;
    letter-spacing: .02em;
}

.card-title {
    font-weight: 600;
    font-size: 21px;
    color: #000;
    line-height: 24px;
}

.top-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.07em;
}
